*{
padding:0;
margin:0;
box-sizing: border-box;
}


.header {
    display: flex;
    gap: 20px; 
    justify-content: flex-start; 
     padding: 22px;
margin-top: 8px;
align-items: center;
margin-bottom: 16px;
 
} 

.header h4.Contact{

  margin-left: 22px; 
}

.header .login {
   margin-left: auto;  
        margin-right: 20px;
}

.header .login .buttons {
    display: flex;
    gap: 55px;   


}


 .top-area{

  background-image:url('../img/kids-online-2.png');

  /* **** الكفر يتوسع وقت التعديل ع  فاستخدمت بداله أوتو padding , margin*** */
  background-size: auto;       /* لا تكبر تلقائيًا */
   background-attachment: fixed;/*  لما حذفتها صار عندي مسافه في راس الصفحه ال توب - تجعل الخلفية ثابتة بالنسبة للنافذة.p*/
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 0;
    position: relative;
 
    
}
.top-area::before {
  content: "";
  position: absolute;
  top: 0;
 left: 0;
   right: 0;
    bottom: 0;
  background-color: rgba(15, 81, 223, 0.5);

}

/* ******* */
.top-area > * {             
  position: relative;
  z-index: 2;
}

.title{

    padding-bottom: 40%;
   
}
.title .Learner{
font-size: 24px;

  color: #ffffff;
  margin-left: 40px;
padding-top: 22px;
font-family: serif


}

.Navbar {
    display: flex;
        justify-content: flex-end;
      text-decoration: none;
list-style: none;
gap: 55px;
margin-top:-26px;


}


.Navbar li a{

  text-decoration: none;
   color: #d0d0d0;
   font-size: 15px;
   margin-right: 15px;

}
.Navbar li a.home{
  color: rgb(255, 255, 255);

}





.Navbar button {
     display: flex; 
  margin-right: 44px;
margin-bottom:22px;
margin-left: 100px;
     color: #ffffff;
 background-color: rgb(44, 119, 223);
 border-radius: 33px;
 border: 0;
padding: 15px;
padding-left: 20px;
padding-right: 20px;
align-items: center;
 cursor: pointer;
}



.Navbar button:hover {

  background-color: rgba(255, 255, 255, 0.5);
}

.title .coueses{

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-align: center;
color: #ffffff;
padding-top: 150px;


}
.title .coueses h6{
 cursor: pointer;
}


.title .coueses button{
margin-top: 5PX;
     color: #ffffff;
 background-color: rgb(44, 119, 223);
 border-radius: 33px;
 border: 0;
padding: 10px;
justify-content: center;
 cursor: pointer;

}


.title .coueses button:hover{



background-color: rgb(255, 255, 255,0.5);



}


.Browse-Category{

text-align: center;


}

.Top-Category{

  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
   grid-template-columns: repeat(4, 1fr);
justify-content: center;
justify-items: center;
text-align: center;
margin: auto;

}

.Category{

  padding-top: 23px;
margin-top: 21px;
  width: 250px;
  height: 100px;
  background-color: rgba(156, 235, 245, 0.3);
 border-radius: 8px;


}





p{

color: #686666;

}

.Category img{
margin-top: -40px;
float: left;

}

.Science img{


margin-top: 5px;
}

.Science h3{

margin-right: 26px;
}

.Science p{
margin-right: 26px;


}


.Browes {
    display: flex;
    justify-content: center;  
    align-items: center;       
}

.Browes p {
margin-top: 113px;
text-align: center;
}




a{

text-decoration: none;
  align-items: center;
text-align: center;
}

.start{

width: 80%;
height: 350px;
background-color: rgb(180, 178, 178,0.2);
margin-top: 100px;
margin-left: 150px;


} 

.start h2{
padding-top:50px ;
text-align:left;
color: #4e47d1;
}




.start p {
    display: flex;             
    gap: 10px;                 
  
    margin-top: 10px;     
    text-align: left;    
    width: 500px;   
}



 .student-icon{

  display: flex;
margin-left: auto;
margin-top: -300px;


}
.start button{

     display: flex; 
  /* margin-right: 44px; */
margin-top: -28px;
margin-left: 50px;
     color: #ffffff;
 background-color: rgb(44, 119, 223);
 border-radius: 33px;
 border: 0;
padding: 15px;
padding-left: 20px;
padding-right: 20px;
align-items: center;
 cursor: pointer;
}


.start button:hover{


background-color: rgba(167, 89, 89, 0.2);


}


.classes{

  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
   grid-template-columns: repeat(3, 1fr);
justify-content: center;
justify-items: center;
text-align: center;

}


.class-title{

padding-top:40px ;
text-align:center;
color: #4e47d1;
font-family:sans-serif;
 word-spacing: 3px;
 font-size: 28px;

}

.class-p{

text-align: center;
font-size: 20px;
}

.class{
  margin-top: 33px;
  width: 250px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.3);
  border: solid 1px rgb(213, 212, 212);
 border-radius: 10px;
align-items: center;
 justify-content: center;
}


.class img{

border: solid 1px black;

border-radius: 23px;

}

.rhght-course {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: center;
   margin-top: 50px; 



}

.course-card  {
  width: 250px;
  padding: 15px;
  background: rgba(255,255,255,0.4);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;

}


.course-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.courses-title{

text-align: center;
margin-top:25px;
padding-bottom: 33px;
font-size: 38px;
color: #4e47d1;

}

.p2{

text-align: center;
  
}

.about-us {
margin-top: 33px;
text-align: left;
margin-left: 55px;
}
.about-us h2 {

color: #4e47d1;
font-size: 33px;
}

.about-us p  {

width: 550px;
}

.about-us img{

  width: 500px;
  height: 300px;
  display: flex;
margin-left: auto;
margin-right: 136px;
margin-top: -300px;
}


.stats{
  display: flex;
margin-top: 22px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
gap: 40px;
}

.stat{
 width:150px;
}



.ADMISSION{
    
margin-top: 18px;
     color: #ffffff;
 background-color: rgb(44, 119, 223);
 border-radius: 33px;
 border: 0;
padding: 15px;
padding-left: 30px;
padding-right: 30px;
align-items: center;
 cursor: pointer;
 gap: 3px;
}


.ADMISSION:hover{


background-color: rgba(167, 89, 89, 0.2);


}

.more{
    
margin-top: 18px;
     color: rgb(44, 119, 223);
 background-color: rgb(255, 255, 255);
 border-radius: 33px;
 border-color: #8cadf9;
padding: 15px;
padding-left: 30px;
padding-right: 30px;
align-items: center;
 cursor: pointer;
}


.more:hover{


background-color: rgba(167, 89, 89, 0.2);


}

.School-New {
display: flex;
    gap: 20px; 
    margin-top: 66px;  
               margin-left: 150px;
  margin-right: 80px;
     }


.h2-School{
  margin-top: 33px;
font-size: 38px;
color: #2c4cec;
text-align: center;

}



.p-School{


text-align: center;

}
.h3-School{

color: #2c4cec;
text-align: start;
font-size: 22px;


}
.info{

display: flex;
  flex-direction: column; 

}

.info p:last-child{

margin-top:22px ;
width: 400px;

}
.info a {
  margin-top: 22px;
text-align: start;
color: #2c4cec;


}

.PRICING{

display: flex;
justify-content: center;

}

.h2-Pricing{
  margin-top: 42px;
font-size: 43px;
color: #2c4cec;
text-align: center;



}
.p-Pricing{
    margin-top: 22px;

text-align: center;

}

.PRICING  h3{
text-align: center;
color: #2c4cec;
margin-bottom: 12px;

}

.PRICING  h3 span{
font-size: small;
color: #6f7076;


}

.card1{
margin-top: 22px;
width: 200px;
height: 250px;
border: solid 1px rgb(203, 199, 199);
border-radius: 10px;
margin-left: 33px;

text-align: center;

}


.PRICING button{
    
margin-top: 18px;
     color: rgb(44, 119, 223);
 background-color: rgb(255, 255, 255);
 border-radius: 33px;
 border-color: #8cadf9;
padding: 15px;
padding-left: 30px;
padding-right: 30px;
 align-items: center;
 margin-left: 17px;
 cursor: pointer;
}


.PRICING-button:hover{


background-color: rgba(150, 142, 142, 0.2);


}


.card2{
margin-top: 22px;
width: 200px;
height: 250px;
border: solid 1px rgb(203, 199, 199);
border-radius: 10px;
margin-left: 33px;
text-align: center;
}


.card3{
margin-top: 22px;
width: 200px;
height: 250px;
border: solid 1px rgb(203, 199, 199);
border-radius: 10px;
margin-left: 33px;
text-align: center;
}

.card2 .PRICING-button2{
    
margin-top: 18px;
     color: rgb(255, 255, 255);
 background-color: rgba(11, 0, 229, 0.774);
 border-radius: 33px;
 border-color: #8cadf9;
padding: 15px;
padding-left: 30px;
padding-right: 30px;
 align-items: center;
 margin-left: 17px;
 cursor: pointer;
}


.PRICING-button2:hover{


background-color: rgba(255, 253, 253, 0.2);


}

.footer{
  width:100%;
  height:280px;
  background-color: #2c4cec;
  margin-top: 33px;
  display: flex;
  flex-direction: column; /* لترتيب الأقسام والCopyright عمودي */
  gap: 20px;
  
}

/* الفلكس الأفقي فقط للأقسام داخل footer-sections */
.footer-sections {
  display: flex;
  gap: 155px;
  margin-left: 30px;
}

.footer-sections .section1 p{
  color: #ffffff;
  width: 250px;
  margin-left: 32px;
}

.footer-sections .section1 h3{
  margin-bottom: 23px;
  color: #ffffff;
    margin-left: 32px;
}

.footer-sections .section1 img{

    margin-left: 22px;

}


.footer-sections .section2 h3{
  color: #ffffff;
}

.footer-sections .section3 h3{
  color: #ffffff;
}

.footer-sections .section3 .gallery{
  display: grid;
  column-gap: 22px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 70px);
}


.footer-sections .section4 h3{
  color: #ffffff;
}

.footer-sections .section4 p{
  color: #ffffff;
}

.footer-sections .section4 .info-num p{
  color: rgba(91, 88, 88, 0.5);
}


.Copyright p{
  text-align: center;
margin-right: 88px;
  color: #ffffff;
  font-size: 14px;
}
